*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #8b8b8b;
}
body{
	background-color: #ffffff;
	color: black;
}
.glyphicon{
	font-size: 30px;
	color:#444444; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: rgb(255, 245, 245);
	margin-top: 35px;
}
.text-center{
	font-size: 50px;
	font-weight: bolder;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #e2dcde;
}
.navbar-brand{
font-size: 30px;	
}
.aligncenter
{
	text-align: center;
}
#chickstory
{
	border: 2px solid red;
	height: max-content;
	padding: 10px;
	margin: 10px;
	background-color: rgba(236, 83, 56, 0.445);
}

#beefstory
{
	border: 2px solid red;
	height: max-content;
	padding: 10px ;
	margin: 10px;
	background-color: rgba(236, 83, 56, 0.445);
}
#sushistory
{
	border: 2px solid red;
	height: max-content;
	padding: 10px;
	margin: 10px;
	background-color: rgba(236, 83, 56, 0.445);
}